* {
  box-sizing: content-box;
  font-family: 'Spoqa Han Sans', sans-serif;
}

html::-webkit-scrollbar{
  display: none;
}

body {
  background-color: rgb(12, 12, 12);
  font-size: 10px;
  transition: 0.2s all;
}

a {
  color: blueviolet;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  transform: scale(1.02);
}

.App {
  color: rgb(204, 204, 204);
}
.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  height: 100vh;
}
.App-header > div {
  font-size: 1.6rem;
  font-weight: bold;
  white-space: pre-line;
  width: 22rem;
  user-select: none;
}

.App-aboutMe {
  background-color: white;
  height: 40vh;
}

.App-aboutMe > .subTitle {
  margin-left: 2.0rem;
}

.App-project {
  background-color: #fffaf2;
  color: black;
  padding: 5rem 0;
}

.App-footer {
  background-color: #1e1e1e;
}

.subTitle {
  position: relative;
  color: black;
  font-size: 1.8rem;
  user-select: none;
  white-space: nowrap;
}

.content {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  opacity: 0.8;
}

.column-line {
  content: "";
  height: 6rem;
  width: 0.1rem;
  margin: 0 4rem;
  background-color: black;
  opacity: 0;
}

.row-line {
  content: "";
  height: 0.1rem;
  width: 8rem;
  margin-bottom: 4rem;
  background-color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svg-div {
  width: 2.4rem;
  margin: 0;
  padding: 0;
  user-select: none;
}

.svg-size {
  width: 2rem;
  height: 2rem;
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.sub-content {
  font-size: 1.0rem; 
}

.icon-name-section {
  width: 22rem;
  justify-content: flex-start!important;
  margin: 2rem 0;
  transition-duration: 0.5s;
  cursor:default;
}

.icon-name-section > div {
  margin: 0 0.5rem;
  transition-duration: 0.5s;
}

.animated.slide-in-left {
    animation: slideInLeft 1.25s ease both;
}

.animated.slide-in-right {
  animation: slideInRight 1.25s ease both;
}

.waypoint {
  opacity: 0;
}

.menu-button {
  position: fixed;
  display: inline-block!important;
  width: 2.5rem;
  height: 2.5rem;
  content: none;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  z-index: 3;
}.menu-button:hover > div{
  width: 2.5rem!important;
}

.menu-bar1, .menu-bar2, .menu-bar3 {
  width: 1.5rem;
  height: 0.5rem;
  background-color: red;
  margin: 0.5rem 0;
  transition: 0.5s;
}

.menu-bar2 {
  width: 1.0rem!important;
}

.menu-bar3 {
  width: 2.0rem!important;
}

.menu-bar1.menu-change {
  width: 2.5rem!important;
  transform: translateY(1.0rem) rotate(-45deg) ;
}
.menu-bar2.menu-change {
  opacity: 0;
}
.menu-bar3.menu-change {
  width: 2.5rem!important;
  transform: translateY(-1.0rem) rotate(45deg) ;
}

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(+30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (orientation:portrait) {

  .App-header > div {
    font-size: 1.4rem;
    width: 70vw;
  }

  .App-aboutMe > :nth-child(3) {
    margin-right: 1.4rem;
  }

  .content {
    font-size: 0.8rem;
    white-space: pre-line;
  }

  .icon-name-section {
    width: 18rem;
    margin: 1rem 0;
  }

  .svg-div {
    width: 1.8rem;
  }
  
  .svg-size {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .sub-heading {
    font-size: 1.0rem;
    font-weight: bold;
  }
  
  .sub-content {
    font-size: 0.8rem; 
  }

  .subTitle {
    font-size: 1.4rem;
  }

  .column-line {
    height: 4rem;
    width: 0.05rem;
    margin: 0 2rem;
  }

  .App-project {
    padding: 2rem 0;
  }
}