* {
  box-sizing: content-box;
}

html::-webkit-scrollbar{
  display: none;
  font-family: 'Spoqa Han Sans', sans-serif;;
}

body {
  background-color: rgb(12, 12, 12);
  font-size: 10px;
}

.App {
  color: rgb(204, 204, 204);
  width: 100vw;
}
.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  height: 100vh;
}
.App-header > div {
  font-size: 1.6rem;
  font-weight: bold;
  white-space: pre-line;
  width: 22rem;
  user-select: none;
}

.App-aboutMe {
  background-color: white;
  height: 40vh;
}

.App-project {
  background-color: #fffaf2;
  color: black;
  padding: 5rem 0;
}

.App-footer {
  background-color: #1e1e1e;
}
.subTitle {
  position: relative;
  color: black;
  font-size: 1.8rem;
  user-select: none;
  margin: 2rem 0;
}

.content {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  opacity: 0.8;
}

.column-line {
  content: "";
  height: 6rem;
  width: 0.1rem;
  margin: 0 4rem;
  background-color: black;
  opacity: 0;
}

.row-line {
  content: "";
  height: 0.1rem;
  width: 8rem;
  margin-bottom: 4rem;
  background-color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.animated.slide-in-left {
    animation: slideInLeft 1.25s ease both;
}

.animated.slide-in-right {
  animation: slideInRight 1.25s ease both;
}

.waypoint {
  opacity: 0;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(+30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}