* {
  box-sizing: content-box;
  font-family: 'Spoqa Han Sans', sans-serif;
}

html::-webkit-scrollbar{
  display: none;
}

body {
  background-color: rgb(12, 12, 12);
  font-size: 10px;
}

a {
  color: blueviolet;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  transform: scale(1.02);
}

.img-shadow {
  box-shadow: 0.1rem 0.1rem 0.25rem #404040;
}

.App {
  color: rgb(204, 204, 204);
  width: 100vw;
}
.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  height: 100vh;
}
.App-header > div {
  font-size: 1.6rem;
  font-weight: bold;
  white-space: pre-line;
  width: 22rem;
  user-select: none;
}

.App-aboutMe {
  background-color: white;
  height: 40vh;
}

.App-project {
  background-color: #fffaf2;
  color: black;
  padding: 5rem 0;
}

.App-footer {
  background-color: #1e1e1e;
}
.subTitle {
  position: relative;
  color: black;
  font-size: 1.8rem;
  user-select: none;
  margin: 2rem 0;
}

.content {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  opacity: 0.8;
}

.column-line {
  content: "";
  height: 6rem;
  width: 0.1rem;
  margin: 0 4rem;
  background-color: black;
  opacity: 0;
}

.row-line {
  content: "";
  height: 0.1rem;
  width: 8rem;
  margin-bottom: 4rem;
  background-color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.svg-div {
  width: 2.4rem;
  margin: 0;
  padding: 0;
  user-select: none;
}

.svg-size {
  width: 2rem;
  height: 2rem;
}

.sub-heading {
  font-size: 1.4rem;
  font-weight: bold;
}

.sub-content {
  font-size: 1.0rem; 
}

.icon-name-section {
  width: 22rem;
  justify-content: flex-start!important;
  margin: 2rem 0;
  transition-duration: 0.5s;
  cursor:default;
}

.icon-name-section > div {
  margin: 0 0.5rem;
  transition-duration: 0.5s;
}

.animated.slide-in-left {
    animation: slideInLeft 1.25s ease both;
}

.animated.slide-in-right {
  animation: slideInRight 1.25s ease both;
}

.waypoint {
  opacity: 0;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(+30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width:92rem) {
  .content {
    font-size: 0.8rem;
  }

  .icon-name-section {
    width: 16rem;
    margin: 1rem 0;
  }

  .svg-div {
    width: 1.8rem;
  }
  
  .svg-size {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  .sub-heading {
    font-size: 1.0rem;
    font-weight: bold;
  }
  
  .sub-content {
    font-size: 0.8rem; 
  }

  .subTitle {
    font-size: 1.4rem;
    margin: 1.4rem 0;
  }

  .column-line {
    height: 4rem;
    width: 0.05rem;
    margin: 0 2rem;
  }
}