.board {
    background-color: #ffffff;
    padding: 2rem 0;
}

.board > ul {
    list-style-type: none;
}

.post {
    width: 40rem;
    margin: 2.5rem auto;
    padding: 1rem 0;
    color: black;
    box-shadow: 0.2rem 0.2rem 0.5rem #666666;
}

.post:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.post-title {
    font-size: 1.6rem;
    width: 28rem;
    margin: 0.2rem 0;
    font-weight: bold;
}

.post-writer {
    width: 28rem;
    margin: 0.2rem 0;
    font-size: 0.8rem;
}

.post-date {
    width: 28rem;
    margin: 0.2rem 0;
    font-size: 0.8rem;
}

.post-content {
    width: 28rem;
    font-size: 1.2rem;
}

.post-hide {
    height: 0;
    overflow-y: hidden;
}

.insert-btn {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 2rem;
    bottom: 7rem;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.insert-btn:hover {
    transform: scale(1.05);
}

.insert-btn:active {
    opacity: 0.75;
}

@media screen and (orientation:portrait) {
    .insert-btn {
        right: 1rem;
        bottom: 1rem;
    }
}