.project-card {
    height: 30rem;
    width: 80rem;
    margin: 1rem auto;
    border: 1px solid black;
}

.project-card > img {
    width: 40rem;
}

.project-title {
    font-size: 2.0rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
}